.store-carousel {
  max-width: 70%;
  width: 100%;
  height: 100%;
}

.store-carousel-item {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .store-carousel {
    max-width: 100%;
    padding-left: 60px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  .store-carousel {
    padding-left: 30px;
  }
}
