.video-consultation-banner {
  background-color: #c2c2af;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
}

.video-consultation-banner > a {
  font-size: 14px;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.video-consultation-banner > a:hover {
  text-decoration: underline;
}

.second-consultaion-banner {
  background-color: #252525;
  display: block;
  color: #fffef2;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.second-consultaion-banner:hover {
  text-decoration: underline;
}

.plus-icon {
  margin-left: 20px;
  font-size: 24px;
}

.introduction {
  background: url("../../assets/Aesop_Bar_Soaps_2023_Web_Homepage_2_Primary_Full_Bleed_Desktop_2880x1044px.avif")
    no-repeat center;
  background-size: cover;
  height: 717px;
  color: #fffef2;
  display: flex;
  align-items: center;
  padding: 40px;
  margin-top: 0;
}

.brand-details {
  max-width: 376px;
}

.brands-name {
  height: 315px;
  margin-right: 48px;
  font-weight: normal;
  margin-top: 0;
  font-size: 32px;
}
.cta {
  display: flex;
  justify-content: space-between;
  padding: 19px 23px;
  background-color: transparent;
  border: 1px solid #fffef2;
  color: #fffef2;
  margin-top: 30px;
  fill: #fffef2;
  font-size: 14px;
}

.cta:hover {
  background-color: #fffef2;
  color: #333;
  cursor: pointer;
  fill: #333;
}

.cta-text {
  margin-right: 24px;
}

.tagline {
  font-size: 30px;
  font-weight: normal;
}

.warm-up {
  display: flex;
  justify-content: space-between;
}

.warm-up-rhs {
  background: url("../../assets/warmup.jpg") no-repeat center;
}

/* Mobile */

.mobile-introduction-details {
  background-color: #333;
  margin-top: 0;
  padding: 40px 20px;
}

/*  Media Queries  */

@media screen and (max-width: 1024px) {
  .warm-up {
    flex-direction: column;
  }

  .warm-up-rhs {
    width: calc(100% - 40px);
    margin-left: 40px;
  }

  .warm-up-details {
    max-width: 70%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .warm-up-details {
    margin-bottom: 30px;
  }

  .warm-up-rhs{
    margin-left: 20px;
  }
}
