@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Marcellus&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffef2;
  overflow-x: hidden;
  width: 100%;
}
* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.mini-heading {
  margin-bottom: 5px;
}

.sections-tagline {
  font-family: "Marcellus", serif;
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  color: #333;
}

.sections-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.section-details {
  max-width: 400px;
  padding-left: 60px;
}

.section-details-flexbox {
  display: flex;
  flex-direction: column;
}

.section-details.flexbox {
  display: flex;
}

section {
  margin-top: 150px;
}

.sub-cta {
  display: flex;
  justify-content: space-between;
  padding: 19px 23px;
  background-color: transparent;
  border: 1px solid #33333333;
  color: #333;
  margin-top: 30px;
  fill: #333;
  cursor: pointer;
  font-size: 14px;
  max-width: 300px;
}

.sub-cta:hover {
  background-color: #333;
  color: #fffef2;
  fill: #fffef2;
}

.sections-cta {
  display: flex;
  text-decoration: none;
  font-size: 15px;
  color: #333;
}

.section-banners {
  width: 60%;
  height: 50vh;
  background-size: cover;
}

.attention-carousel-item {
  width: 420px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.section-carousel-images {
  max-width: 400px;
}

.section-carousel-images-quirk {
  max-width: 100%;
}

blockquote {
  font-family: "Marcellus", serif;
  text-align: center;
  font-size: 1.875rem;
}

cite {
  font-size: 14px;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  font-style: normal;
  display: block;
  font-weight: 500;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #fffef2;
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #fffef2;
  font-size: 16px;
}

::placeholder {
  color: #fffef2;
  font-size: 16px;
}

.separator {
  border-bottom: 1px solid #fffef2;
  width: 100%;
  margin: 16px 0;
}

.attention-item-name {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.attention-carousel-item:hover{
  cursor: pointer;
}
.attention-carousel-item:hover .attention-item-name{
  text-decoration: underline;
  cursor: pointer;
}

.attention-item-description{
  font-size: 14px;
}
/*  Media Queries  */

@media screen and (max-width: 1024px) {
  .section-details {
    max-width: 1024px;
    margin-bottom: 30px;
  }

  .section-details-lhs {
    width: 100%;
    max-width: 50%;
  }

  .section-details-flexbox {
    flex-direction: row;
  }

  .section-banners {
    width: calc(100% - 60px);
    margin-left: 60px;
  }

  .poo-drop.section-details {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .section-details.carousel-details {
    display: none;
  }
  .mobile-links {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  section {
    margin-top: 80px;
  }
  .section-details-flexbox {
    flex-direction: column;
  }

  .section-details {
    padding-left: 20px;
  }

  .mobile.section-details {
    padding-left: 0;
  }

  .section-details.flexbox {
    flex-direction: column;
  }

  .mobile.mini-heading,
  .mobile.sections-description,
  .mobile.sections-cta,
  .mobile.sections-tagline {
    color: #fffef2;
  }

  .section-banners {
    margin-left: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .desktop-links {
    display: none;
  }
}

/*  Carousel flex fix */
/* 
  carousel css collides with the scoped css, therefore global css required
*/

.store-locator {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .store-locator {
    flex-direction: column;
  }
}
